@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');

/* Global */
* {
  box-sizing: border-box;
  overscroll-behavior: none;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* ---------- Nav Bar ---------- */
.nav-section {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  z-index: 500;
}

.nav-logo img{
  width: 250px;
}

.nav-menu {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  height: 50px;
}

.nav-menu-list{
  display: flex;
  justify-content: center;
  font-size: 13px;
  font-weight: 800;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-menu-list li {
  margin: 0 15px;
  cursor: pointer;
}

.nav-menu-list li:hover {
  color: #2e159b;
  transform: scale(1.1);
}

.nav-header {
  display: flex;
  margin-right: 30px;
  height: 70px;
}

.nav-header-icon {
  color: #eb3e0f;
  font-size: 30px;
  margin: 20px 10px;
  cursor: pointer;
}

.nav-header-icon:hover {
  color: #2e159b;
  transform: scale(1.1);
}

.nav-header-search:hover .search-input, .search-input:focus {
  display: block; 
}

.nav-header-search input{
  position: absolute;
  top: 17%;
  right: 0;
  width: 200px; 
  display: none; 
  margin-top: 5px; 
  padding: 5px;
  border: none; 
  border-bottom: 5px solid #2e159b; 
  border-radius: 0; 
  outline: none;
  background-color: transparent;
}

.search-input::placeholder {
  color: rgb(200, 200, 200);
}

/* ---------- Slide Section ---------- */

.slider-container{
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.slider-container img{
  height: 100vh;
  object-fit: cover;
}

/*---------- Displaying all products ----------*/
.product-container{
  margin: 100px 0;
  padding: 0;
}

.product-container-col{
  margin: 80px 0px;
}

.product-card {
  position: relative;
  padding: 0;
  cursor: pointer;
}

.product-card-NewArrival {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 10px;
  font-weight: 700;
  padding: 5px;
  background-color: rgb(133, 246, 20, 0.8);
}

.product-card img{
  width: 105%;
  margin-bottom: 10px;
}

.product-card-title {
  font-family: "Bungee Tint", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.product-card-price {
  font-weight: 600;
  color: rgb(86, 86, 86);
}

.product-card-line {
  margin-top: 40px;
  background-color:rgb(40, 25, 175, 0.7);
  height: 1px;
  width: 100%;
}

/* ---------- Log-in Page ---------- */
.login-page-container{
  margin: 300px 250px ;
  max-width: 800px;
  padding: 20px; 
}

/* ---------- Product Detail Page ---------- */
.product-detail-contatiner{
  margin: 250px 400px ;
  display: flex;
  justify-content: center;
}

.product-detail-img img{
  width: 100%;
  object-fit: contain; 
}

.product-detal-info h1{
  font-family: "Bungee Tint", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}
